@font-face{
    font-family: robotolight;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face{
    font-family: robotomedium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: robotoblack;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoregular;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face{
    font-family: robotorbol;
    src: url(fonts/Roboto-Bold.ttf);
}
*{margin:0;padding:0; }

hr.hrngan {
    margin: 0px;
}

input[type="button"] {
    width: 30px;
    margin: -5px;
}

input#quantity {
    width: 30%;
    text-align: center;
}
.thumbnail {
    border: 0px;
}

.col.col-md-2.col-12.leftmain {
    margin-top: 25px;
}

a.btn.btn-default {
    border-radius: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

a.btn.btn-primary {
    width: 100px;
    border-radius: 20px;
    margin-right: 20px;
    margin-top: 20px;
    text-transform: uppercase;
}

a.btn.btn-primary {
}

span.regular-price {
    margin-left: 60px;
    text-decoration: line-through;
}

span.sale-price {
    float: left;
    color: red;
}

.row.sanphamtt {
    text-align: center;
}

.row.tsp {
    text-align: center;
}

.splienquan h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

p.title {
    color: black;
    font-family:robotorbol ;
}

.row.row1 {
}

.quantity {
    margin-top: 20px;
    padding-left: 110px;
}

.button-mua {
    text-align: center;
}

button.btn.btn-secondary {
}

button.btn.btn-secondary.butleft {
    margin-left: 100px;
}

.layer1 h3 {
    text-decoration: line-through;
    font-size: 20px;
}

.layer1 h1 {
    text-align: left;
    font-size: 30px;
}
body{
    font-family: robotoregular;
}

button.btn.btn-primary {
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
    text-transform: uppercase;
}

input#qty {
    height: 30px;
    width: 100px;
}

.layer1 h4 {
    position: absolute;
}

.layer1 h2 {
    color: red;
    font-size: 25px;
}
img{
    width: 100%;
}

/*copy*/
*{margin:0;padding:0; }

.header ul li a {
    color: black;
}

.header ul li {
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px;
}

h1.logo {
    color: black;
    font-size: 50px;
    margin-top: 10px;
}

.footer .logo {
    text-align: center;
}

.row.dangnhap {
    margin-top: 13px;
    background-color: aqua;
    padding: 10px;
    margin-right: 37px;
}

input.form-control {
    height: 50px;
    margin-top: 10px;
}

.container.header {
    padding: 16px 0px;
}
body{
    font-family:robotoregular ;
}
.row.giohang {
    text-align: center;
    background-color: cyan;
    padding: 10px;
    margin: 0px 30px;
    margin-top: 14px;
}

span.glyphicon.glyphicon-search {position: absolute;right: 2px;background-color: aqua;height: 45px;width: 50px;text-align: center;margin-top: 11px;padding-top: 15px;}

.container-fluid.header1 {
    background-color: white;
}

h4.copyright1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

a.a1 {
    color: white;
    margin-left: 8px;
    font-family: 'sairamedium';
}

.footer11 .tencty {
    margin-bottom: 20px;
    font-family: 'sairamedium';
    font-size: 20px;
}

img.logofooter {
    margin-left: 106px;
}

.footer1 {
    margin-top: 15px;
    background-color: #383745;
}

.footer {
    background-color: #383745;
    color: white;
}
.hrngang{
    margin: 0px;
    border: 1px solid black;
}