@font-face{
    font-family: robotolight;
    src: url(fonts/Roboto-Light.ttf);
}
@font-face{
    font-family: robotomedium;
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family: robotoblack;
    src: url(fonts/Roboto-Black.ttf);
}
@font-face{
    font-family: robotoregular;
    src: url(fonts/Roboto-Regular.ttf);
}
*{margin:0;padding:0; }

.loaisp p {
    margin-top: 15px;
}

span.price {
}
.thumbnail {
    border: 0px;
}

.row.banner1 {
    padding: 22px 0px;
}

.container-fluid.banner {background-color: aliceblue;}

ul {
    list-style-type: none;
}

hr.hrtensp {
    /* size: ; */
    border: 1px solid black;
}

.sanpham h2 {
    margin-top: 0px;
}

.row.watch-all {
    background-color: aqua;
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
}

a.btn.btn-primary {
    width: 100px;
    margin-right: 20px;
    border-radius: 20px;
    text-transform: uppercase;
}

.sanpham p {
    margin-top: 10px;
}

span.regular-price {
    text-decoration: line-through;
    padding-left: 60px;
}

span.sale-price {
    color: red;
    float: left;
}

.row.sanphamtt {
    text-align: center;
}

.thumbnail {
    border: 0px;
}

a.btn.btn-default {
    width: 100px;
    border-radius: 20px;
    text-transform: uppercase;
}

.row.tensp {
    text-align: center;
    margin: 15px 0px;
}

.row.sanpham1 {
    text-align: center;
    margin-top: 30px;
}

/* copy */

.header ul li a {
    color: black;
}

.header ul li {
    display: inline-block;
    padding: 0px 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.header ul {
    list-style-type: none;
    text-align: center;
    margin-bottom: 0px;
}

h1.logo {
    color: black;
    font-size: 50px;
    margin-top: 10px;
}

.footer .logo {
    text-align: center;
}

.row.dangnhap {
    margin-top: 13px;
    background-color: aqua;
    padding: 10px;
    margin-right: 37px;
}

input.form-control {
    height: 50px;
    margin-top: 10px;
}

.container.header {
    padding: 16px 0px;
}
body{
    font-family:robotoregular ;
}
.row.giohang {
    text-align: center;
    background-color: cyan;
    padding: 10px;
    margin: 0px 30px;
    margin-top: 14px;
}

span.glyphicon.glyphicon-search {position: absolute;right: 2px;background-color: aqua;height: 45px;width: 50px;text-align: center;margin-top: 11px;padding-top: 15px;}

.container-fluid.header1 {
    background-color: white;
}

h4.copyright1 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

a.a1 {
    color: white;
    margin-left: 8px;
    font-family: 'sairamedium';
}

.footer11 .tencty {
    margin-bottom: 20px;
    font-family: 'sairamedium';
    font-size: 20px;
}

img.logofooter {
    margin-left: 106px;
}

.footer1 {
    margin-top: 15px;
    background-color: #383745;
}

.footer {
    background-color: #383745;
    color: white;
}
.hrngang{
    margin: 0px;
    border: 1px solid black;
}